.panel-default{
    width: 272px;
    height: 900px;
    /* Rectangle 429 */
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #33074F;
}

.panel-heading{
    width: 272px;
    height: 80px;
  /* Rectangle 430 */
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 91.11%;
    background: rgba(235, 230, 237, 0.1);
}

#heading{
  /* Acmy Solutions */
    position: absolute;
    width: 175px;
    height: 32px;
    left: 49px;
    top: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.panelbody{
    width: Fixed (240px);
    height: Hug (40px);
    padding: 8px, 12px, 8px, 12px;
    border-radius: 24px;
    gap: 8px;
}

.frame61{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 240px;
    height: 40px;
    left: 16px;
    top: 140px;
    width: Hug (240px);
    height: Hug (40px);
    top: 140px;
    left: 16px;
    gap: 8px;

}

.frame56{
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 12px;
    gap: 8px;
    width: 240px;
    height: 40px;
    background: rgba(235, 230, 237, 0.1);
    border-radius: 24px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    width: Fixed (240px);
    height: Hug (40px);
    padding: 8px, 12px, 8px, 12px;
    border-radius: 24px;
    gap: 8px;
    background: #EBE6ED1A;
}

.frame55{
    width: Hug (119px);
    height: Hug (24px);
    gap: 12px;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.dashboard{
    width: 24px;
    height: 24px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

#dashboardicon{
    width: 18px;
    height: 18px;
    top: 3px;
    left: 3px;
    border: 2px;
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
}
#dashboardtext{
    width: 83px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
    text-align: left;
}