/* Styling for the ToDoList component */

.container {
    position: absolute;
    width: 656px;
    height: 632px;
    left: 296px;
    top: 248px;
    padding: 20px;
    border: 1px solid #D0D5DD;
    border-radius: 8px;
}

.list-group-item {
    width: 100%;
    height:65px; 
    padding: 10px;
    display: flex;
    border-style: none;
    border-bottom-style: solid;
}

.todo-text {
    flex-grow: 1;
    position: absolute;
    width: 450px;
    top: 25%;
    bottom: 25%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    display: flex;
    align-items: center;
    text-align:justify;
    color: #000000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.heading{
    width: 45px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}


.label.Done{
    width: 31px;
    height: 22px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    text-align:center;
    color: #219653;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.label.InProcess{
    width: 67px;
    height: 22px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    /* text-align: center; */
    color: #F2C94C;
    flex: none;
    order: 1;
    flex-grow: 0;   
}

.status.Done {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
    gap: 6px;
    position: absolute;
    width: 47px;
    height: 26px;
    left: 500px;
    top: 20px;
    background: #E8F5E9;
    border-radius: 16px;
    color: #58975B;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.status.InProcess {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
    gap: 6px;
    position: absolute;
    width: 83px;
    height: 26px;
    left: 480px;
    top: 20px;   
    color: #F2C94C;
    background-color: rgba(242, 201, 76, 0.1);
    border-radius: 16px;
}

.btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 0px;
    gap: 8px;
    position: absolute;
    width: 78px;
    height: 30px;
    left:10px;
    top: 40px;
    border-radius: 24px;
    width: 78px;
    height: 22px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    color: #BC006D;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-top: 5px;
    padding-bottom: 15px;
}

.created-date {
    position: absolute;
    left: 91.62%;
    right: 2.44%;
    top: 27.08%;
    bottom: 27.08%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #757575;
}

.pagination-container{
    display: flex;
    text-align: center;
    width: 208px;
    height:10px;
    left: 520px;
    top: 824px;
}

.pagination-container .pagination li:first-child a,
.pagination-container .pagination li:last-child a {
  background-color: #f0f0f0; 
  color: #333;
  padding: 8px 12px;
  border-radius: 4px;
  margin: 0 5px;
}

/* Style the page numbers */
.pagination-container .pagination li a {
  background-color: #fff;
  color: #333;
  padding: 8px 12px;
  border-radius: 4px;
  margin: 0 5px;
  text-decoration: none;
}

/* Style the active page number */
.pagination-container .pagination .active a {  
  color:red;
  background-color: #fff;
  border-color: red;
}

/* hover effect for page numbers */
.pagination-container .pagination li a:hover {
  background-color: #ddd;
  color: #333;
  cursor: pointer;
}


  

/* given styling */

/* .container{
    position: absolute;
    width: 656px;
    height: 632px;
    left: 296px;
    top: 248px;
    background-color:burlywood;
} */

/* .header{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: Fixed (656px);
    height: Hug (36px);
    top: 248px;
    left: 296px;
    padding: 12px, 0px, 0px, 0px;
    gap: 16px;
    background-color: brown;
} */

/* #headername{
    width: 45px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
} */

/* .frame67{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 16px;
    gap: 471px;
    width: 656px;
    height: 24px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
} */

/* .frame65{    
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 45px;
    height: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
} */

/* .frame64{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 45px;
    height: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
    } */

    /* item4 */
/* .item4{
        position: absolute;
        width: 656px;
        height: 48px;
        left: 296px;
        top: 297px;
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: brown;
    } */

/* .group1737{
        position: absolute;
        width: 20px;
        height: 20px;
        left: 16px;
        top: 14px;
    } */

/* .rectangle656{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 16px;
    top: 14px;
    background: #2F80ED;
    border-radius: 4px;
} */

/* .cellbadge{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
    gap: 6px;
    position: absolute;
    width: 47px;
    height: 26px;
    left: 540px;
    top: 11px;
    background: #E8F5E9;
    border-radius: 16px;
} */

/* .label{
    width: 31px;
    height: 22px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    text-align: center;
    color: #219653;
    flex: none;
    order: 1;
} */
/* 
.bell{
    position: absolute;
    width: 12px;
    height: 12px;
    left: 20px;
    top: 18px;
} */

/* #bellring{
    position: absolute;
    left: 10.61%;
    right: 10.61%;
    top: 8.33%;
    bottom: 8.33%;
    border: 1px solid #E8F5E9;
} */

/* .totalgroceries{
    position: absolute;
    left: 91.62%;
    right: 2.44%;
    top: 27.08%;
    bottom: 27.08%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: right;    
    color: #757575;
} */

/* .todolist{
    position: absolute;
    width: 301px;
    left: 44px;
    top: 25%;
    bottom: 25%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #000000;
} */